.file-table {
  position: relative;
  width: 95%;
  border-collapse: collapse;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.file-table th, .file-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
 
  position: relative; /* 셀의 position을 설정 */
}


.file-table th {
  background-color: #f2f2f2;
}

.file-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  position: relative;
  max-width: 150px; /* 최대 너비 설정 */
  overflow: hidden; /* 넘친 텍스트를 가림 */
  white-space: nowrap; /* 줄바꿈 방지 */
  text-overflow: ellipsis; /* 가려진 텍스트에 '...'을 표시 */
}

.file-table td .text-container {
  max-height: 40px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 표시 */
}





.file-table th.user-cell {
  width: 10%; /* 유저 셀의 너비를 고정 */
}

.file-table th.filename-cell {
  width: 25%; /* 파일명 셀의 너비를 고정 */
}

.file-table th.size-cell {
  width: 10%; /* 크기 셀의 너비를 고정 */
}

.file-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.file-table tbody tr:hover {
  background-color: #e6f7ff;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
}
